{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('sveak_cynology_trainer_index') }}" class="btn btn-primary pull-right">Back to the list</a>
    <h1>Trainer edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="Save" class="btn btn-primary pull-left"/>
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
    <input type="submit" value="Delete" class="btn btn-danger"
           onclick="if (!confirm('Are you sure you want to delete this trainer? This action can not be canceled.')) return false;">
    {{ form_end(delete_form) }}

    <h2>Own Dogs</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Breed</th>
            <th>Has Pedigree</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for dog in trainer.dogs %}
            {% set loose_form = form_builder.setAction(path('sveak_cynology_trainer_loose_dog',
            { 'id': trainer.id, 'dog': dog.id })).getForm().createView() %}
            <tr>
                <td>{{ dog.name }}</td>
                <td>{{ dog.breed.breed }}</td>
                <td><span class="glyphicon glyphicon-{{ dog.hasPedigree ? 'ok' : 'remove' }}"></span></td>
                <td><a onclick="if (confirm('Loose the dog? It will remain without a trainer.'))
                            $(this).parent().find('form').submit(); return;" href="javascript:void(0)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                    {{ form(loose_form) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
