{% extends 'SveakCynologyBundle::layout.html.twig' %}

{% block body %}
    <a href="{{ path('sveak_cynology_trainer_new') }}" class="btn btn-primary pull-right">Create</a>
    <h1>Trainers</h1>
    <table class="table">
        <thead>
        <tr>
            <th class="sortable">{{ knp_pagination_sortable(pagination, 'Surname', 't.lastname') }}</th>
            <th class="sortable">{{ knp_pagination_sortable(pagination, 'Category', 'c.id') }}</th>
            <th class="sortable sortable-revert">{{ knp_pagination_sortable(pagination, 'Experience', 't.employment_date', {'defaultDirection': 'desc'}) }}</th>
            <th class="sortable">Number of Dogs</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for trainer in pagination %}
            {% set delete_form = form_builder.setAction(path('sveak_cynology_trainer_delete', { 'id': trainer.id })).getForm().createView() %}
            <tr>
                <td>{{ trainer.lastname }}</td>
                <td>{{ trainer.category.category }}</td>
                <td>{{ trainer.experience }}</td>
                <td>{{ trainer.dogs|length }}</td>
                <td class="text-right">
                    <a href="{{ path('sveak_cynology_trainer_edit', { 'id': trainer.id }) }}"
                    ><span class="glyphicon glyphicon-pencil"></span></a> &nbsp;
                    <a onclick="if (confirm('Are you sure you want to delete this trainer? This action can not be canceled.'))
                            $(this).parent().find('form').submit(); return;" href="javascript:void(0)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                    {{ form(delete_form) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}