{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('sveak_cynology_trainer_index') }}" class="btn btn-primary pull-right">Back to the list</a>
    <h1>Trainer creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" class="btn btn-primary pull-left"/>
    {{ form_end(form) }}
{% endblock %}
