{% extends 'SveakCynologyBundle::layout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}Contact Us{% endblock %}

{% block body %}
    <header>
        <h1>Contact Us</h1>
    </header>

    <div class="row">
        <div class="col-sm-6">
            {% for flashMessage in app.session.flashbag.get('cynology-notice') %}
                <div class="cynology-notice">
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            {{ form_start(form, { 'action': path('sveak_cynology_feedback'), 'method': 'POST'}) }}
            {{ form_errors(form) }}

            {{ form_row(form.email) }}
            {{ form_row(form.subject) }}
            {{ form_row(form.body) }}

            {{ form_rest(form) }}

            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </div>
{% endblock %}

