.page-header {
    border: none;
    margin-top: 80px;
}

.cynology-notice {
    text-align: center;
    padding: 10px;
    background: #DFF2BF;
    border: 1px solid;
    color: #4F8A10;
    margin-bottom: 10px;
}

a > .glyphicon-remove {
    color: #ff0039;
}

th.sortable > a {
    text-decoration: none !important;
}

th.sortable .asc:after {
    display: inline-block;
    content: '';
    width: 0;
    height: 0;
    margin-left: 4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #2780e3;
    vertical-align: middle;
}

th.sortable .desc:after {
    display: inline-block;
    content: '';
    width: 0;
    height: 0;
    margin-left: 4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #2780e3;
    vertical-align: middle;
}

th.sortable-revert .desc:after {
    border-bottom: 4px solid #2780e3;
    border-top: 0 solid transparent;
}

th.sortable-revert .asc:after {
    border-top: 4px solid #2780e3;
    border-bottom: 0 solid transparent;
}

th.sortable .asc:hover:after {
    border-bottom: 4px solid #165ba8;
}

th.sortable .desc:hover:after {
    border-top: 4px solid #165ba8;
}

th.sortable-revert .desc:hover:after {
    border-top: 0 solid transparent;
    border-bottom: 4px solid #165ba8;
}

th.sortable-revert .asc:hover:after {
    border-top: 4px solid #165ba8;
    border-bottom: 0 solid #165ba8;
}