{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('sveak_cynology_dog_index') }}" class="btn btn-primary pull-right">Back to the list</a>
    <h1>Dog edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="Save" class="btn btn-primary pull-left"/>
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
    <input type="submit" value="Delete" class="btn btn-danger"
           onclick="if (!confirm('Are you sure you want to delete this dog? This action can not be canceled.')) return false;">
    {{ form_end(delete_form) }}
{% endblock %}
