{% extends 'SveakCynologyBundle::layout.html.twig' %}

{% block body %}
    <a href="{{ path('sveak_cynology_dog_new') }}" class="btn btn-primary pull-right">Create</a>
    <h1>Dogs</h1>
    <table class="table">
        <thead>
        <tr>
            <th class="sortable">{{ knp_pagination_sortable(pagination, 'Name', 'd.name') }}</th>
            <th class="sortable">{{ knp_pagination_sortable(pagination, 'Breed', 'b.breed') }}</th>
            <th class="sortable sortable-revert">{{ knp_pagination_sortable(pagination, 'Age', 'd.birthday', {'defaultDirection': 'desc'}) }}</th>
            <th class="sortable">{{ knp_pagination_sortable(pagination, 'Has Pedigree', 'd.has_pedigree') }}</th>
            <th class="sortable">{{ knp_pagination_sortable(pagination, 'Trainer', 't.lastname') }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for dog in pagination %}
            {% set delete_form = form_builder.setAction(path('sveak_cynology_dog_delete', { 'id': dog.id })).getForm().createView() %}
            <tr>
                <td>{{ dog.name }}</td>
                <td>{{ dog.breed.breed }}</td>
                <td>{{ dog.age }}</td>
                <td><span class="glyphicon glyphicon-{{ dog.hasPedigree ? 'ok' : 'remove' }}"></span></td>
                <td>{{ dog.trainerName }}</td>
                <td class="text-right">
                    <a href="{{ path('sveak_cynology_dog_edit', { 'id': dog.id }) }}"
                    ><span class="glyphicon glyphicon-pencil"></span></a> &nbsp;
                    <a onclick="if (confirm('Are you sure you want to delete this dog? This action can not be canceled.'))
                            $(this).parent().find('form').submit(); return;" href="javascript:void(0)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                    {{ form(delete_form) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}